{% extends "basesite/base3col-sponsor.html" %}
{% block content %}		
		
				<h2>Non-profit Donations</h2> 
				<p>For your connivance, we hold an account with the University of Connecticut Foundation, a 501(c)(3) non-profit organization. This 
				allows you to collect a federal tax deduction for your donation. For more information about placing a donation, you can review our
				<a href="data/DonationSponsorshipPacket.pdf" target="_blank">donation and sponsorship packet</a> or <a href="contact.html">contact us</a>, we would be glad to 
				work with you and answer any questions you may have.
				</p>

				<p>Checks should be made out to <b>The University of Connecticut Foundation, Inc</b> with <b>GUARD Dogs</b> listed in the memo section.
				</p> 
				<p>Checks can be mailed to the following address:
				<br /><b>GUARD Dogs
				<br />2110 Hillside Road Unit 3008
				<br />Storrs, CT 06269-3008</b> 
				</p>

				 
				<table id="Forms"> 
					<tr> 
						<td> 
							<p> 
							<b>Forms:</b> 
							<br /><a href="data/DonationSponsorshipPacket.pdf" target="_blank">Donation/Sponsorship Packet</a>							
							<br /><a href="data/w9.pdf" target="_blank">Request for Taxpayer ID Number and Certification [W-9]</a> 
							</p> 
						</td> 
					</tr> 
				</table> 
{% endblock content %}
