{% extends "basesite/base3col-sponsor.html" %}
{% block content %}		
				<h2>Become a sponsor</h2> 
				<p>We are currently looking for sponsors to help us remain an active organization. We have many levels of suggested 
				sponsorship from which to choose, all coming with different benefits for your business or organization. Please review the 
				<a href="data/DonationSponsorshipPacket.pdf" target="_blank">donation and sponsorship packet</a> for more information or <a href="contact.html">contact us</a>.
				</p> 
{% endblock content %}
