{% extends "basesite/base3col-sponsor.html" %}
{% block content %}		
				<h3>We would like to whole-heartedly thank our sponsors for everything they do for us!</h3><h3> We would not be able to operate without them!</h3>
				<h1 style="color:silver; text-decoration:underline;">Platinum Sponsors</h1>
				<h6><a href="http://www.usg.uconn.edu" class="Sponsor" target="_blank">The Undergraduate Student Government (USG)</h6>
				<img src="{{ STATIC_URL }}images/usg_sponsor_logo-full.png" alt="Villari Logo" /></p></a>
				<hr/>

				<h1 style="color:orange; text-decoration:underline;">Bronze Sponsors</h1>
				<p><a href="http://www.sgtpepspizza.com" target="_blank"><h6>Sgt. Peps Pizza in Storrs, CT</h6>
				<img src="{{ STATIC_URL }}images/sgtpepslogo-full.png" alt="Sponsor" width="343" height="156" class="PicLink" /></a>
				</p>
				<br/>
				<hr/>
				
				<p><h6>Villari's Martial Arts in Storrs, CT</h6>
				<img src="{{ STATIC_URL }}images/VillariLogo-full.png" alt="Villari Logo" width="398" /></p>
				<br/>
				<hr/>

				<p><a href="http://www.campusfood.com/restaurant.asp?campusid=129&mlid=18732" target="_blank"><h6>Wings Over Storrs in Storrs, CT</h6>
				<img src="{{ STATIC_URL }}images/wingslogo-full.png" alt="Sponsor" width="200" height="114" class="PicLink" /></a></p>
				<hr/>
				<br/><br/>
				<h3>Past Sponsors</h3>

				<p>Alston J. Balkcom - Bronze Sponsor</p>
				<p>Cottrell Paper Co. - Bronze Sponsor</p>
				<p>Crazy House Energy Vending, LLC. - Bronze Sponsor</p>
				<p>The Keystone Companies, LLC. - Silver Sponsor</p>
				<p>Ted's Restaurant and Bar - Bronze Sponsor</p>
{% endblock content %}
