{% extends "basesite/base3col-sponsor.html" %}
{% block content %}		
				<h2>Platinum Sponsors</h2>
				<h6><a href="http://www.usg.uconn.edu" class="Sponsor" target="_blank">The Undergraduate Student Government (USG)</a></h6>

				<h2>Bronze Sponsors</h2>
				<p><h6>Villari's Martial Arts in Storrs, CT</h6>
				<img src="data/Villari Logo" alt="Villari Logo" width="398" /></p>
				
				<p><a href="http://www.sgtpepspizza.com" target="_blank"><h6>Sgt. Peps Pizza in Storrs, CT</h6>
				<img src="data/sgtpepslogo.jpg" alt="Sponsor" width="343" height="156" class="PicLink" /></a>
				</p>
				
				<p><a href="http://www.campusfood.com/restaurant.asp?campusid=129&mlid=18732" target="_blank"><h6>Wings Over Storrs in Storrs, CT</h6>
				<img src="data/wingslogo.gif" alt="Sponsor" width="200" height="114" class="PicLink" /></a></p>
{% endblock content %}
