{% extends 'basesite/index.html' %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}
{% block leftside %}
	<div class="resetstyles">
	<h2>Blogs</h2>
	<ul>
		<li><a href="/opblog">Operation Officer</a></li>
		<li><a href="/memblog">Membership Officer</a></li>
	</ul>
	</div>
{% endblock leftside %}
{% block main %}
	{% block content %}
	<br/><br/>

	<h2>{% trans 'Page not found' %}</h2>
	<br/>

	<p>{% trans "We're sorry, but the requested page could not be found. Please return to the previous page." %}</p>

	{% endblock content %}
{% endblock main %}
