{% extends 'basesite/base.html' %}
<!-- InstanceBeginEditable name="main-content" -->
{% block main-wrap %}
<div id="main-wrap">
	<div id="main" class="container"> 
		<div id="home3col" class="span-24 last">
			<div class="span-6" id="col1">
				<div class="box">
				{% block leftside %}{% endblock leftside %}
				</div><!--box-->
			</div><!--span-6 col1-->
			<div class="span-12">
			{% block main %}<div id="content">{% block content %}{% endblock content %}</div><!--content--> {% endblock main %}
			</div><!--content span-12-->
			<div class="span-6 last" id="col3">
			{% block rightsidetop %}{% endblock rightsidetop %}
			</div><!--span6 col3-->
		{% block rightsidebottom %}{% endblock rightsidebottom %}
		</div><!--home3col-->
		<div class="clear"></div>
	</div><!--main container-->
</div><!--main-wrap-->
{% endblock main-wrap %}

