<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http ://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/uconn-template-4.0.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>GUARD Dogs &#8250; University of Connecticut</title>
<!-- InstanceEndEditable -->
<!-- **** UCONN TEMPLATE BEGINS **** -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" media="screen"/>
<!--[if gte IE 6]><style type="text/css">@import "global/4.0/head-foot/hf-ie.css";</style><![endif]-->
<!--[if gte IE 6]><style type="text/css">@import "global/4.0/middle/base/ie.css";</style><![endif]-->
<!--[if gte IE 6]><style type="text/css">@import "global/4.0/middle/uconn/ie.css";</style><![endif]-->
{% comment %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/4.0/head-foot/hf-print.css" media="print"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/4.0/middle/uconn/print.css" media="print"/>{% endcomment %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}global/4.0/head-foot/head.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}global/4.0/middle/base/nav.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cal.js"></script>
{#<script type="text/javascript" src="https://alert.uconn.edu/alert/alert.js"></script>#}
<link rel="stylesheet" type="text/css" href="http://webtools.uconn.edu/global/4.0/head-foot/hf-print.css" media="print"/>
<link rel="stylesheet" type="text/css" href="http://webtools.uconn.edu/global/4.0/middle/uconn/print.css" media="print"/>

<!-- **** UCONN TEMPLATE ENDS **** -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body lang="en">
<div id="uc-skip"> <a href="#skipSearch">Skip to Search</a><br/>
	<a href="#skipNav">Skip to Navigation</a><br/>
	<a href="#skipContent">Skip to Content</a> </div>
<div id="uc-head-wrap" class="">
	<div id="uc-head" class="container  ">
		<h1><a href="http://uconn.edu" id="uc-uconn"><img src="{{ STATIC_URL }}global/4.0/head-foot/images/uconn-grey.png" alt="University of Connecticut" width="229" height="90" /></a>  <strong id="uc-website-title"><a href="/">GUARD Dogs</a></strong></h1>
		<div id="uc-search"> <a name="skipSearch" id="skipSearch"></a>
			<form action="http://uconn.edu/search.php" method="get">
				<fieldset>
					<legend id="uc-search-legend">Search</legend>
					<ul>
						<li>
							<label for="cx1">
								<input type="radio" id="cx1" checked="checked" value="004595925297557218349:65_t0nsuec8" name="cx" />
								UConn </label>
						</li>
						<li>
							<label for="cx3">
								<input type="radio" id="cx3" value="people" name="cx" />
								People </label>
						</li>
					</ul>
					<label id="uc-search-keyword" for="q">Keyword</label>
					<input type="text" size="17" class="searchBox" name="q" id="q" title="Search..."/>
					<input type="hidden" value="160" name="page_id"/>
					<input type="hidden" value="FORID:10" name="cof"/>
					<input type="hidden" value="UTF-8" name="ie"/>
					<input type="submit" name="sa" id="sa" value="Go" />
				</fieldset>
			</form>
			
		</div>
	</div>
	<!--head-->
</div>
<script type="text/javascript">doCufon();</script> 
<!--head-wrap-->
<div id="nav-wrap" > <a name="skipNav" id="skipNav"></a>
	<div id="nav" class="container">
		<ul class="sf-menu sf-js-enabled sf-shadow">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/members">Members</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<a name="skipContent" id="skipContent"></a>
</div>

{% block header %}
{% endblock header %}
{% block main-wrap %}
{% block main %}{% block content %}{% endblock content %}{% endblock main %}
{% endblock main-wrap %}
{% block footer %}
<!-- InstanceEndEditable -->
<div id="uc-foot-wrap">
	<div id="uc-foot" class="container">
		<ul id="uc-foot-links">
			<li><a href="http://uconn.edu/azindex.php" >UConn A-Z Index</a></li>
			<li><a href="http://uconn.edu/" >UConn Home</a></li>
			<li><a href="http://uconn.edu/disclaimers-and-copyrights.php" >Disclaimers, Privacy &amp; Copyright</a></li>
			<li><a href="contact.html">Contact Us</a></li>
			<li id="uc-copyright">&copy; University of Connecticut </li>
		</ul>
	</div>
</div>
{% endblock footer %}
<!--foot-wrap-->
</body>
<!-- InstanceEnd --></html>

