{% extends 'basesite/index.html' %}

{% block content %}
<div id='content'>
	<h2>{{ cal.getMonthHeader.0 }} {{evdate.2}}, {{ cal.getMonthHeader.1 }}</h2>
	{% for day in cal.curr.events %}
	  {% if day|urlencode == evdate.2 %}
	    {% for field in events %}
	      {% if field.name %}
  	        <p><h4>{{ field.name }}</h4></p>
                {% if user.is_authenticated %}
	          {% if field.evtype.evtype == "Running Night" %}
		    <p>Positions already taken: {{signedupcount}}</p>
		  {% endif %}
		{% endif %}
	      {% endif %}
	      <p><b>Date:</b> {{ field.date }}</p>
	      {% if field.end %}
	        <p><b>End:</b> {{ field.end }}</p>
	      {% endif %}
	      {% if field.descr %}
	        <p><b>Description:</b> {{ field.descr }}</p>
              {% endif %}

	      {% if field.evtype.evtype == "Running Night" %}
	        {% if svisor %}
		  <p><b>Supervisor:</b> {{ svisor }}</p>
		{% endif %}
	      {% endif %}

	     <a href="#" class="expand" id="collapse-form-{{ field.id }}" onClick="showhide( {{ field.id }} )">Expand/Collapse</a>
	     <div id="collapse-form-{{ field.id }}" class="collapse-form">
              {% if user.is_authenticated %}
	        {% if field.evtype.evtype == "Running Night" %}
		  {% if errors %}
		    {{ errors }}
		  {% endif %}
		  {% if field.error %}
		    <p><strong>{{ field.error_message }}</strong></p>
		    <p><strong>{{ field.errors }}</strong></p>
		  {% endif %}
	          <form method='post' action=''>{% csrf_token %}
                  {% if perms.basesite.change_runningnight %}
                    {% if perms.basesite %}
		      {% if execform.as_p %}
			{{ execform.non_field_errors }}
		        <div class="fieldwrapper">
			  {{ execform.first_name.errors}}
			  <label for="first_name">First Name:</label>
			  {{execform.first_name}}
			</div><!--fieldwrapper-->

 	                <div class="fieldwrapper">
			  {{ execform.last_name.errors}}
			  <label for="last_name">Last Name:</label>
			  {{execform.last_name}}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ execform.phone.errors}}
			  <label for="phone">Phone:</label>
			  {{ execform.phone }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.email.errors}}
			  <label for="email">Email:</label>
			  {{ execform.email }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.gender.errors}}
			  <label for="gender">Gender:</label>
			  {{ execform.gender }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.username.errors}}
			  <label for="username">Username:</label>
			  {{ execform.username }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.fposition.errors}}
			  <label for="fposition">First Choice:</label>
			  {{ execform.fposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.sposition.errors}}
			  <label for="sposition">Second Choice:</label>
			  {{ execform.sposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.tposition.errors}}
			  <label for="tposition">Third Choice:</label>
			  {{ execform.tposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.partner.errors}}
			  <label for="partner">Partner:</label>
			  {{ execform.partner }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.name.errors}}
			  <label for="name">Name:</label>
			  {{ execform.name }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ execform.date.errors}}
			  <label for="date">Date:</label>
			  {{ execform.date }}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ execform.end.errors}}
			  <label for="end">End:</label>
			  {{ execform.end }}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ form.svisor.errors}}
			  <label for="svisor">Supervisor:</label>
			  {{execform.svisor}}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ form.descr.errors}}
			  <label for="descr">Description:</label>
			  {{execform.descr}}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ form.cars.errors}}
			  <label for="cars">Cars:</label>
			  {{execform.cars}}
			</div><!--fieldwrapper-->

		        {#{{ execform.as_p }}#}
		        <input type='hidden' name='su' value='e'/>
			{% if update %}
		          <p><input type='submit' value='Update'/></p>
			{% else %}
		          <p><input type='submit' value='Sign Up'/></p>
			{% endif %}
                        </form>
	              {% else %}
		        {{ execform }}
		      {% endif %}
		    {% endif %}
		  {% else %}
		    {{ genform.non_field_errors }}
		    {% for field in genform %}
		      {{ field.errors }}
	            {% endfor %}
		    {% if genform.as_p %}
			{{ genform.non_field_errors }}
		        <div class="fieldwrapper">
			  {{ genform.first_name.errors}}
			  <label for="first_name">First Name:</label>
			  {{genform.first_name}}
			</div><!--fieldwrapper-->

 	                <div class="fieldwrapper">
			  {{ genform.last_name.errors}}
			  <label for="last_name">Last Name:</label>
			  {{ genform.last_name}}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ genform.phone.errors}}
			  <label for="phone">Phone:</label>
			  {{ genform.phone }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.email.errors}}
			  <label for="email">Email:</label>
			  {{ genform.email }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.gender.errors}}
			  <label for="gender">Gender:</label>
			  {{ genform.gender }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.username.errors}}
			  <label for="username">Username:</label>
			  {{ genform.username }}
			</div><!--fieldwrapper-->

			<div class="fieldwrapper">
			  {{ gen.fposition.errors}}
			  <label for="fposition">First Choice:</label>
			  {{ genform.fposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.sposition.errors}}
			  <label for="sposition">Second Choice:</label>
			  {{ genform.sposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.tposition.errors}}
			  <label for="tposition">Third Choice:</label>
			  {{ genform.tposition }}
			</div><!--fieldwrapper-->
			
			<div class="fieldwrapper">
			  {{ genform.partner.errors}}
			  <label for="partner">Partner:</label>
			  {{ genform.partner }}
			</div><!--fieldwrapper-->

		      {#{{ genform.as_p }}#}
		      <input type='hidden' name='su' value='g'/>
		      <p><input type='submit' value='Sign Up'/></p>
                      </form>
		    {% else %}
		      {{ genform }}
		      {% if gfchoosepart %}
		        <p>{{ gfchoosepart }}</p>
			{{ partnerform.as_p }}
		      <input type='hidden' name='part' value='g'/>
		      <p><input type='submit' value='Add Partner'/></p>
                      </form>
	              {% endif %}
		    {% endif %}
		  {% endif %}
	        {% endif %}
              {% endif %}
	     </div><!--collapse-form-->
	      <p><hr></p>
	    {% endfor %}
	  {% endif %}
        {% endfor %}


</div> <!--content-->
{% endblock content %}

{% block rightsidebottom %}
	{% if user.is_authenticated %}
            {% if perms.basesite.change_runningnight %}
	      {% for field in events %}
	        {% if field.evtype.evtype == "Running Night" %}
	         
	<div class="enumeratedUsers">
		<p><b>{{field.name}}</b></p>
		<p>Total Number Signed Up: {{signedupcount}}</p>
		<br />
		<p><a href='/{{evdate.0}}/{{evdate.1}}/{{evdate.2}}/members.html'>Members Signed up:</a></p>
		<table>
			<tr>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Gender</th>
			<tr>
		{% for member in members %}
		 <tr><td>{{ member.fn }} {{ member.ln }}</td>
		  <td>{{ member.phone }}</td>
		  <td>{{ member.gender }}</td></tr>
		{% endfor %}
		</table>
	</div>

</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{% endblock rightsidebottom %}
