{% extends 'basesite/base.html' %}
{% block content %}
    <div id="main" class="container"> 
    		<div id="content" class="span-20 prepend-2 append-2 last">
{% if user.is_authenticated %}
    {% if errors %}
      {{ errors }}
    {% endif %}
    {% if field.error %}
      <p><strong>{{ field.error_message }}</strong></p>
      <p><strong>{{ field.errors }}</strong></p>
    {% endif %}
    <form method='post' action=''>{% csrf_token %}
    {% if perms.RunningNight %}
      {% if perms.RunningNight.can_change %}
        <h2>Edit Member Info:</h2>
        {% if execform.as_p %}
          {{ execform.non_field_errors }}
	  <div class="fieldwrapper">
	  {{ execform.first_name.errors}}
	  <label for="first_name">First Name:</label>
	  {{execform.first_name}}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ execform.last_name.errors}}
	    <label for="last_name">Last Name:</label>
	    {{execform.last_name}}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ execform.phone.errors}}
	    <label for="phone">Phone:</label>
	    {{ execform.phone }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.email.errors}}
	    <label for="email">Email:</label>
	    {{ execform.email }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.gender.errors}}
	    <label for="gender">Gender:</label>
	    {{ execform.gender }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.username.errors}}
	    <label for="username">Username:</label>
	    {{ execform.username }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.fposition.errors}}
	    <label for="fposition">First Choice:</label>
	    {{ execform.fposition }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.sposition.errors}}
	    <label for="sposition">Second Choice:</label>
	    {{ execform.sposition }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.tposition.errors}}
	    <label for="tposition">Third Choice:</label>
	    {{ execform.tposition }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.partner.errors}}
	    <label for="partner">Partner:</label>
	    {{ execform.partner }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.name.errors}}
	    <label for="name">Name:</label>
	    {{ execform.name }}
	  </div><!--fieldwrapper-->
	
	  <div class="fieldwrapper">
	    {{ execform.date.errors}}
	    <label for="date">Date:</label>
	    {{ execform.date }}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ execform.end.errors}}
	    <label for="end">End:</label>
	    {{ execform.end }}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ form.svisor.errors}}
	    <label for="svisor">Supervisor:</label>
	    {{execform.svisor}}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ form.descr.errors}}
	    <label for="descr">Description:</label>
	    {{execform.descr}}
	  </div><!--fieldwrapper-->

	  <div class="fieldwrapper">
	    {{ form.cars.errors}}
	    <label for="cars">Cars:</label>
	    {{execform.cars}}
	   </div><!--fieldwrapper-->

	  <input type='hidden' name='su' value='e'/>
	  <p><input type='submit' value='Update'/></p>
	{% endif %}
      {% endif %}
      {% else %}
        <h2>You have arrived at a page that does not exist. Please try another page.</h2>
    {% endif %}
                       </form>
    <a href="{{evdate.0}}/{{evdate.1}}/{{evdate.2}}"><span style="font-size:12pt; text-align: center;">&lt;&lt; Back</span></h3></a>
    {% else %}
      <h2>You have arrived at a page that does not exist. Please try another page.</h2>
{% endif %}
    </div> <!--content-->
    <div class="clear"></div> 
</div>
{% endblock content %}
