{% extends "basesite/base3col-member.html" %}
{% block content %}
				<h2>Executive Board</h2>
				<p>The backbone of GUARD Dogs consists of an elite team of individuals who strive to uphold the values of this organization. The Executive Board
				is responsible for all administrative and managerial tasks necessary for the upkeep, future development, and present operation of GUARD Dogs. Three directors 
				are elected to serve for a fiscal year, beginning in May of each year. To assist with their duties, officers are appointed to specific position
				on the Board. A dedicated team of General Board Members also serve, working collaboratively with the officers and directors, to promote the
				organization's stature. If you are interested in becoming a larger part of this organization, please <a href="contact.html">contact us</a>.

				<h2 style="text-decoration:underline;">Directors</h2>

				<p><b>Emmy Littlejohn</b>
				<br />Executive Director</p>

				<p><b>Adam Bartholomeo</b>
				<br />Assistant Executive Director</p>

				<p><b>Christopher Eng</b> <br />
				Financial Director</p>

				<h2 style="text-decoration:underline;">Officers</h2>
				<p><b>Laura Kuhne</b>
{% endblock content %}
