{% extends "basesite/base3col-member.html" %}
{% block content %}
				<h2>Executive Board</h2>
				<p>The backbone of GUARD Dogs consists of an elite team of individuals who strive to uphold the values of this organization. The Executive Board
				is responsible for all administrative and managerial tasks necessary for the upkeep, future development, and present operation of GUARD Dogs. Three directors 
				are elected to serve for a fiscal year, beginning in May of each year. To assist with their duties, officers are appointed to specific position
				on the Board. A dedicated team of General Executive Board Members also serve, working collaboratively with the officers and directors, to promote the
				organization's stature. If you are interested in becoming a larger part of this organization, please <a href="contact.html">contact us</a>.

				<h2 style="text-decoration:underline;">Directors</h2>

				<p><b>Emmy Littlejohn</b>
				<br />Executive Director</p>

				<p><b>Adam Bartholomeo</b>
				<br />Assistant Executive Director</p>

				<p><b>Christopher Eng</b> <br />
				Financial Director</p>

				<h2 style="text-decoration:underline;">Officers</h2>
				<p><b>Nichole Brooks</b>
				<br />Events Management</p>

				<p><b>Matthew Finkel</b>
				<br />IT/Software Developer</p>

				<p><b>Emily Chadbourne</b>
				<br />Membership/Training</p>

				<p><b>Laura Kuhne</b>
				<br/>Operations</p>

				<p><b>Geoffrey Battista</b>
				<br />Public Relations/Promotions</p>

				<p><b>Alex Hunnicutt</b>
				<br />Risk Management</p>

				<p><b>Ashley Dorman</b>
				<br />Sponsorship</p>
{% endblock content %}
			{% block rightsidetop %}
				<div id="about" style="float: left;">
					<div class="box">
					  <h2>Board Meeting Time:</a>
					  <p>Sundays, 6:30 pm - 7:30 pm</p>
					  <p>Student Union 325</p>
					</div>
				</div><!--about-->
			{% endblock rightsidetop %}
