{% extends "basesite/base3col-member.html" %}
{% block content %}
				<h2>Become a Member!</h2>
				<h2>Fall 2011 Applicants</h2>

				<p>All applicants will be informed of the status of their paper applications by <span style="font-weight: bold">5:00 pm on Saturday, April 17th</span>. Following the interviews, applications will be notified of their acceptance status by <span style="font-weight: bold">Monday, April 26th. </span></p>

				<h2>Future Applicants</h2>
				<p>If you are interested in joining GUARD Dogs <b>please</b> keep your eye peeled towards the end of next semester for when we begin accepting new applications! You will have roughly two weeks to fill out the application and submit it, at which time we diligantly review them and select the individuals who we fill would best fit our organization.</p>

				<p>If we feel that your paper application meshes well with our current membership then you will move on to the interviewing stage! From this group of applicants we will select as many enthusiastic individuals as exist within the group.</p>
				<p>So, again, pay attention around campus next semester for when application becomes available!</p>

				<br>
				<p><span style="font-weight: bold">MEMBER REQUIREMENTS:</span></p>
				<p>Joining GUARD Dogs is an excellent way to meet new people, help out your fellow students, and have fun! Member jobs
				include dispatching calls, driving, and riding-along. A number of leadership positions are also available for members who want to become more involved.</p>
				<p>GUARD Dogs members will be required to work at least 2 nights per semester and to obtain a certain number of points (to be determined) by doing any of the following:</p>
				<p>1.) Driving, Riding-Along, or Dispatching for a Night of operations<br />
				2.) Attending a training session<br />
				3.) Attending bi-weekly membership meetings<br />
				4.) Working a GUARD Dogs information table<br />
				5.) Attending a GUARD Dogs Executive Board meeting<br />
				6.) And much much more!</p>
{% endblock content %}
