{% extends "basesite/base3col-member.html" %}
{% block content %}
				<h1>Become a Member!</h1>
				<h2>Future Applicants</h2>
				<p>If you are interested in joining GUARD Dogs we are <b>always</b> accepting new members.</p>
				<p>Please <a href="application">consider filling out our application</a> and we will review it as soon as possible. You will receive an email from us within the next week (or so).</p>

				<br>
				<p><span style="font-weight: bold">MEMBER REQUIREMENTS:</span></p>
				<p>Joining GUARD Dogs is an excellent way to meet new people, help out your fellow students, and have fun! Member jobs
				include working in the dispatch office, driving, and riding-along. A number of leadership positions are also available for members who want to become more involved.</p>
				<p>GUARD Dogs members will be required to work at least 2 nights per semester.</p>
{% endblock content %}
