{% extends "basesite/base3col-member.html" %}
{% block content %}
			<h2>Our Members</h2> 
			<p> 
			GUARD Dogs is made up of a group of high caliber students who play an active role in protecting the lives of their fellow students. Members volunteer several Friday and Saturday
			nights each semester and no members are compensated for their service. GUARD Dogs provides a fun, energetic environment for our members in which enthusiasm and personal growth are
			encouraged.
			</p> 
{% endblock content %}
