{% extends "basesite/base.html" %}
{% block main %}
<div id="main-wrap">
	<div id="main" class="container"> 
		<div id="content" class="span-20 prepend-2 append-2 last">
			<h1>Contact Us</h1>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th>Mailing Address (Snail Mail)</th>
					<td>
						GUARD Dogs
						<br/>2110 Hillside Road Unit 3008 
						<br/>Storrs, CT 06269-3008
				</tr>
				<tr>
					<th>Office Address</th>
					<td>Whitney Hall, East Campus
					<br />(behind the dining hall)</td>
				</tr>
				<tr>
					<th>Phone Number</th>
					<td>860-486-8000</td>
				</tr>
				<tr>
					<th>Facsimile (Fax) Number</th>
					<td>860-486-5533
					<br/>with a cover letter for GUARD Dogs</td>
				</tr>
				<tr>
					<th>Email Address</th>
					<td><a href="mailto:Guarddogs@gmail.com">Guarddogs@gmail.com</a></td>
				</tr>
			</table>

			<br/>
			<p><h3>Directions to Office</h3>
			Our office is located in East campus, behind the Whitney dining hall. Walk to the left of the Whitney dining hall and go down the stairs. The office is at the base of the staircase near the parking lot.</p>
		</div>
		<div class="clear"></div>
	</div><!--main container-->
</div><!--main-wrap-->
{% endblock main %}	
