{% extends "basesite/base3col-about.html" %}
{% block content %}
				<h1>About Us</h1>
				<p>Saving Lives, One Ride At A Time</p>

				<h2>What is GUARD Dogs?</h2> 
				<p>GUARD Dogs stands for Giving UConn a Responsible Driver. As an alternative to driving 
				under the influence or walking home at night, we provide safe, non-judgmental, and reliable 
				rides home to undergraduate students here in Storrs, free of charge!
				</p> 
				<p> 
				GUARD Dogs is entirely student run and prides itself on being 
				completely non-judgmental. Service is anonymous and will bring 
				students home to their on and off campus residences. Though GUARD 
				Dogs aims at preventing drunk driving by providing rides home to 
				UConn students, we certainly do not encourage drinking or belligerent 
				behavior. Remember, <i>no one likes a sloppy dog.</i> 
				</p> 
				<p>We operate on <b>Friday and Saturday nights between the hours of 11pm and 3am</b> 
				and will take students <b>home</b> to their on or off campus residence, within a reasonable 
				distance of campus. Students can call our dispatch for a ride at <b>(860) 486-8000</b> during 
				our operating hours.
				</p> 
				<p> 
				Please help our member initiative as we are always looking for help! Check 
				out our <a href="membership.html">membership</a> page for more info.
				</p> 
				<h2>No one likes a sloppy dog</h2> 
				<p> 
				Although GUARD Dogs is nonjudgmental with regards to drinking, the 
				health and safety of all members and patrons will always be our primary 
				concern. In the event of any emergency, including suspected alcohol 
				poisoning, emergency services will be contacted immediately. Also, 
				if a member of GUARD Dogs feels that you may present a safety risk 
				to anyone in the vehicle, you may be turned away.
				</p> 
				<h2>What's the difference between GUARD Dogs and Husky Watch?</h2> 
				<p>The University escort service, Husky Watch, provides concerned students with a walking escort home. However, this program is run by the Police Station
				and is therefore unable to provide service to students who they suspect have been drinking. GUARD Dogs on the other hand is completely student run and
				non-judgmental with regards to alcohol use. GUARD Dogs provides rides as opposed to walking escorts, but only operates Friday and Saturday nights. For more
				information about the Police Department's escort service, visit their website at <a href="http://www.police.uconn.edu/huskywatch.html" target="_blank">police.uconn.edu</a>.
				</p> 
				 
				  
				   
				   <h2>Mission</h2> 
				   <p> 
				   To protect the lives of students and promote awareness of the risks of drunk driving by providing safe, non-judgmental, free, and reliable transportation home to undergraduate students at the University of Connecticut. By doing this, we will promote overall safety, goodwill, and responsibility among the university community.
				   </p> 
				    
				    <h2>Values</h2> 
				    <p> 
				    <b>Student run</b><br /> 
				    For a program like ours to work, it is important that there exist a trust between our members and our patrons. Students are less likely to use programs run by the police department simply because they are afraid of getting into trouble.
				    <br /><br /> 
				    <b>Non-judgmental</b><br /> 
				    Being non-judgmental means that as long as you are being responsible, we will provide no opinion regarding alcohol use, whether it be underage, or completely legal. This again helps to ensure a sense of trust and security between our patrons and our members.
				    <br /><br /> 
				    <b>Safe</b><br /> 
				    Being non-judgmental does not mean that we will ignore irresponsible behavior. In any case where the potential for violence exists GUARD Dogs reserves the right to terminate a ride without providing a reason. Our members are trained to recognize the signs of alcohol poisoning  and if there is any suspicion of alcohol poisoning, emergency services will be called immediately.
				    <br /><br /> 
				    <b>Reliable</b><br /> 
				    Standing around in a dark neighborhood at night can be frightening, so knowing that your ride will be there is crucial. Reliability is an extremely important aspect of our program and we do everything in our power to ensure that all callers added to our list receive a ride home. Contact is made with the patron when the vehicle arrives so that our patrons never questions if they missed their
				    ride.
				    </p> 
				     
				     <h2>Operation</h2> 
				     <p> 
				     Patrons call our phone hotline number, which is directed to our dispatch team. The dispatch team collects information about the caller's location and destination, making sure the patron is traveling home and not to a party. That information is then relayed to one of the vehicles by calling the ride-along on his or her car phone (provided by GUARD Dogs). The ride-along then instructs the driver to drive to the patron's location (in cars provided by GUARD Dogs). Upon arrival, the ride-along calls the patron's cell phone and notifies them that they have arrived and are waiting.
				     The patron is then taken home.
				     </p> 
{% endblock content %}
