{% extends "basesite/base3col-about.html" %}
{% block content %}
				<h2>Friends of GUARD Dogs:</h2> 
				<p> 
				<ul>
					<li><a href="http://www.aod.uconn.edu" target="_blank">Department of Alcohol and Drugs</a><br /></li>
					<li><a href="http://www.studentactivities.uconn.edu/co_index.html" target="_blank">Community Outreach</a><br /></li>
					<li><a href="http://www.police.uconn.edu/huskywatch.html" target="_blank">Husky Watch (University Police Escort Service)</a><br /></li>
					<li><a href="http://www.rememberlastnight.uconn.edu" target="_blank">"Remember Last Night" campaign</a><br /></li>
					<li><a href="http://www.studentactivities.uconn.edu" target="_blank">Student Activities</a><br /></li>
					<li><a href="http://www.usg.uconn.edu" target="_blank">Undergraduate Student Government</a><br /></li>
				</ul>
				</p> 
{% endblock content %}
