{% extends "basesite/base3col-about.html" %}
{% block content %}
<h2>History of GUARD Dogs</h2> 
 
 <h2>2006</h2> 
 <ul> 
 <li class="normal">GUARD Dogs was founded by Rebecca Auger & Shawn Logue as a Student Organization in reaction to the lack of SAFE access to transportation for students who had been drinking.</li> 
 <li class="normal">Funding was obtained from the Undergraduate Student Government and GUARD Dogs became an official pilot program of USG</li> 
 <li class="normal">GUARD Dogs, Inc. was incorporated with the State of Connecticut</li> 
 <li class="normal">Windham Regional Transit District, a bus company in the Storrs area, was contracted to provide a shuttle system Friday and Saturday nights to on and off campus locations.</li> 
 </ul> 
  
  <h2>2007</h2> 
  <ul> 
  <li class="normal">When WRTD denied our request to renew the contract, the GUARD Dogs team of only 6 students researched other transportation options.</li> 
  <li class="normal">Enterprise Rent-A-Car, along with other vehicle rental agencies were contacted.</li> 
  <li class="normal">An account was created with Enterprise based on rental quotes and their ability to deliver the vehicles each weekend.</li> 
  <li class="normal">The GUARD Dogs website was created and promotions and public relations efforts were made to raise awareness about the program amongst the student body and surrounding community</li> 
  </ul> 
   
   <h2>2008</h2> 
   <ul> 
   <li class="normal">In January of 2008, GUARD Dogs gave its first ride in a rented minivan!</li> 
   <li class="normal">Operations procedures were developed and a small volunteer base was recruited from the university's Alcohol and Other Drug awareness program, with whom the dispatched center was shared.</li> 
   <li class="normal">A larger office was obtained from the Department of Residential Life.</li> 
   <li class="normal">Volunteers were recruited from the general student body</li> 
   <li class="normal">Partnerships with local food vendors were formed in order to provide our volunteers with nourishment throughout the night.</li> 
   <li class="normal">Three sponsors generously decided to join our team.</li> 
   <li class="normal">To comply with University Regulations, our incorporation with the State of Connecticut was dissolved.</li> 
   </ul> 
{% endblock content %}
