{% extends "basesite/base3col-about.html" %}
{% block content %}
				<h2>Operation</h2> 
				<p>GUARD Dogs operates Friday and Saturday nights from <b>11:00pm to 3:00am</b>. All services are free but donations are encouraged as operating a free service has many expenses. Rides are provided on a first come first serve basis and no preference or discrimination will be given.</p> 
				<h2>Call Us</h2> 
				<p>During our operating hours dial <b>(860) 486-8000</b> to reach our dispatch.</p> 
				<h2>Apartment Complexes</h2> 
				<p>GUARD Dogs will pick up and bring students <b>home</b> to their on or off-campus residences, given that they are within
				a 4 mile radius of campus. The following is a list of common pick-up / drop-off locations that we will go to. These are only a few 
				of our common pick-up / drop-off locations and we will go to others given that they are within a 4 mile radius of campus. GUARD Dogs 
				also reserves the right to ask for proof of residence before allowing patrons to enter the vehicles. We work hard to make sure UConn 
				Students get home safely so please don't abuse our services.</p> 
				<ul> 
					<li class="normal">Carriage House Apartments (*Must have resident card to be dropped off)</li> 
					<li class="normal">Cedar Ridge</li> 
					<li class="normal">Celeron Apartments (*Must have resident card to be dropped off)</li> 
					<li class="normal">Clubhouse Apartments</li> 
					<li class="normal">Courtyard Apartments</li> 
					<li class="normal">Deer Park Apartments</li> 
					<li class="normal">Hunting Lodge Apartments</li> 
					<li class="normal">Knollwood Apartments</li> 
					<li class="normal">Mansfield Apartments</li> 
					<li class="normal">Maplewood Apartments</li> 
					<li class="normal">Millbrook Apartments</li> 
					<li class="normal">Natural Park Apartments</li> 
					<li class="normal">Northwood Apartments</li> 
					<li class="normal">Oakwood Apartments</li> 
					<li class="normal">Orchard Acres Apartments</li> 
					<li class="normal">Renwood Apartments</li> 
					<li class="normal">Walden Apartments</li> 
					<li class="normal">Willington Oaks Apartments</li> 
					<li class="normal">Woodhaven Park Apartments</li> 
				</ul>
{% endblock content %}
