{% extends "basesite/base3col-about.html" %}
{% block content %}
				<h2>GUARD Dogs' Sister Programs</h2> 
				<p> 
				<ul>
					<li><a href="http://carpool.tamu.edu"><b>CARPOOL</b> at Texas A &amp; M University</a><br /></li>
					<li><a href="http://stripes.missouri.edu"><b>STRIPES</b> at the University of Missouri</a><br /></li>
					<li><a href="http://www.watchdawgs.org/"><b>Watchdawgs</b> at University of Georgia</a><br /></li>
					<li><a href="http://www.drivingjacks.com/"><b>Driving Jacks</b> at Stephen F. Austin University</a><br /></li>
					<li><a href="http://www.drivesafekalamazoo.com/"><b>Drive Safe Kalamazoo</b> at Western Michigan University</a><br /></li>
					<li><a href="http://orgs.jmu.edu/saferides/"><b>Safe Rides</b> at James Madison University</a><br /></li>
					<li><a href="http://uwadmnweb.uwyo.edu/SafeRide/"><b>Safe Rides</b> at University of Wyoming</a><br /></li>
				</ul>
				</p> 
{% endblock content %}
